 .container {
            display: flex;
            height: 200px;
            width: 400px;
            border: 2px solid black;
            background-color: lightsalmon;
            /* flex-direction: row-reverse; */
            flex-wrap: wrap;
        }
.item {
    height: 100px;
    width: 100px;
    border: 2px solid rgb(166, 0, 255);
    background-color: lightblue;
}