.container{
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    background-color: lightgreen;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer"; */
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.item{
     height: 100px;
     width: 100px;
    border: 2px solid rgb(169, 112, 0);
    background-color: lightyellow;
    text-align: center;
    align-items: center;
}
/* .item1{
    grid-area: header;
}
.item2{
    grid-area: main;
}
.item3{
    grid-area: sidebar;
}
.item4{
    grid-area: footer;
} */

